<div class="container-form">
    <h2 class="form-title">
        Template Driven Form
    </h2>
    <form name="form" #f="ngForm" (ngSubmit)="onSubmit(f , userName,email,password,phone)">

        <div class="form-group">
            <label for="name">
        <i class="material-icons">account_circle</i>
      </label>
            <input minlength="5" maxlength="10" required #userName="ngModel" [(ngModel)]="model.userName" type="text" name="userName" placeholder="Your Name" [ngClass]="{ 'is-invalid': (f.submitted && userName.invalid) }">

            <div *ngIf="f.submitted && userName.invalid" class="error-feedback">
                <p *ngIf="userName.errors.required">First Name is required</p>
                <p *ngIf="userName.errors.minlength">Name minimum length Should be 5 TO 10</p>
                <p *ngIf="userName.errors.mexlength">Name meximum length Should be less than 10</p>

            </div>
        </div>

        <!--  -->
        <div class="form-group">
            <label for="email">
        <i class="material-icons">email</i>
      </label>
            <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required type="text" name="email" placeholder="Email" #email="ngModel" [(ngModel)]="model.email" [ngClass]="{ 'is-invalid': (f.submitted && email.invalid) }">
            <div *ngIf="f.submitted && email.invalid" class="error-feedback">
                <p *ngIf="email.errors.required">Email is required</p>
                <p *ngIf="email.errors.pattern">Email isn't Seccessful</p>


            </div>
        </div>
        <!--  -->
        <div class="form-group">
            <label for="password">
        <i class="material-icons">security</i>
      </label>
            <input minlength="5" maxlength="10" required type="password" name="password" placeholder="Password" #password="ngModel" [(ngModel)]="model.password" [ngClass]="{ 'is-invalid': (f.submitted && password.invalid) }">
            <div *ngIf="f.submitted && password.invalid" class="error-feedback">
                <p *ngIf="password.errors.required">Passwoed is required</p>
                <p *ngIf="password.errors.minlength">password minimum length Should be 5 TO 10</p>
                <p *ngIf="password.errors.mexlength">password meximum length Should be less than 10</p>

            </div>
        </div>
        <!--  -->
        <div class="form-group">
            <label for="phone">
        <i class="material-icons">phone</i>
      </label>
            <input minlength="11" required type="text" name="phone" placeholder="Phone Number" #phone="ngModel" [(ngModel)]="model.phone" [ngClass]="{ 'is-invalid': (f.submitted && phone.invalid) }">
            <div *ngIf="f.submitted && phone.invalid" class="error-feedback">
                <p *ngIf="phone.errors.required">Photo Number is required</p>
                <p *ngIf="phone.errors.minlength">Photo Number minimum length Should be 11</p>


            </div>
        </div>
        <!--  -->
        <button type="submit" class="submit">Submit</button>

    </form>
</div>