<div class="navigation">
  <a routerLink="/basic" routerLinkActive="active" >Basic Forms</a>
  <a routerLink="/template-driven" routerLinkActive="active">Template Driven Forms</a>
  <a routerLink="/reactive-driven" routerLinkActive="active">Reactive Driven Forms</a>
  <a routerLink="/dynamic-form" routerLinkActive="active">Dynamic Forms</a>
</div>

<main>
  <div class="form">
<router-outlet></router-outlet>
</div>
<div class="image">
  <img src="https://github.githubassets.com/images/modules/logos_page/Octocat.png">
</div>
</main>